
#overlay:hover {  
  opacity: .5;
  background-color: black;
  
}

#overlay {
    border-width: 20px;
    border-style: solid;
    border-image: initial;
    height: 100%;
    width: 100%;
    background-image:linear-gradient(50deg, green, blue , red);
    opacity: 0;
}
