.Collapsible{
    background-color: #00ff00;
    align-items: center;
    text-align: left;
}
.one, .two, .three, .four, .five{    
    color: black;
    background-color: white;
    border: black;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
}
.openone {
    color: black;
    background-color: white;
    border: black;
    font-size: 20px;
    font-weight: bold;
}


.opentwo {
    color: black;
    background-color: white;
    border: black;
    font-size: 20px;
    font-weight: bold;
}

.openthree{
    color: black;
    background-color: white;
    border: black;
    font-size: 20px;
    font-weight: bold;
}

.openfour {
    color: black;
    background-color: white;
    border: black;
    font-size: 20px;
    font-weight: bold;
}

.openfive {
    color: black;
    background-color: white;
    border: black;
    font-size: 20px;
    font-weight: bold;
}

Button{
    display: inline-block;
}